/* TODO remove these imports  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('http://fonts.cdnfonts.com/css/gagalin');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald&display=swap');

/* timeline-nav-list styling */

.timeline-nav-list {
    /* border: solid 0.1vw black; */
    height: 3%;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    list-style: none;
    width: 75%;
}

.timeline-nav-list > li{
    padding-right: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline-nav-list > li > div{
    font-size: 1.5vw;
    cursor: pointer;
    color: rgb(90, 90, 90);
    border: solid 0.15vw transparent;
    transition: all 0.2s ease-in-out;
}
.timeline-nav-list > li >div:hover{
    border-bottom: solid 0.15vw rgb(90, 90, 90);
    /* box-shadow: 2px 2px 5px 1px rgb(120, 120, 120); */
}

/* timeline-community-container styling */

.timeline-community-container{
    width: 80%;
    height: 50%;
    border-radius: 2%;
    background-color: rgb(48, 49, 54);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.timeline-community-container > h1{
    font-family: 'Archivo Black', sans-serif;
    align-self: baseline;
    font-size: 4vw;
    margin: 0;
    padding: 2vw 5vw;
    background: linear-gradient(to bottom, white 55%, rgb(168, 166, 166) 60%,rgb(104, 104, 104) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.community-components-containers{
    /* border-left: solid 0.3vw rgb(10, 255, 195); */
    padding: 5% 0% 5% 4% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid 0.2vw rgb(130, 130, 130);
    width: 81%;
    height: 100%;
}

/* timeline-clubs-container styling */

.timeline-clubs-container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 47%;
    /* border: solid 1px red; */
}
.clubs-components-container{
    border-left: solid 0.2vw rgb(130, 130, 130);
    height: 100%;
    width: 85%;
}