.type-one-container{
    display: flex;
    border-radius: 1vw;
    background-color: transparent;
    width: 100%;
    height: 30%;
    font-size: 1.5vw;
    border: solid 0.15vw rgb(63, 61, 61);
    transition: all 0.15s ease-in-out;
}
.type-one-container:hover{
    box-shadow: 0vw 0vw 1.5vw 0.5vw rgb(80, 79, 79);
}
.type-one-container-heading > div::before{
    content:"âƒ";
    border: solid .3vw rgb(48, 49, 54);
    background-color: rgb(48, 49, 54);
    font-size: 2vw;
    position: relative;
    /* left: -10px; */
    top: -0.5vw;
    left: -4.74vw;
}
.type-one-container-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.type-one-container-illustration{
    width: 40%;
    height: 100%;
}
.type-one-container-illustration > img {
    height: 100%;
    width: 100%;   
}
.type-one-container-heading{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.type-one-container-heading > div{
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    font-weight: 900;
}
.type-one-container-description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.type-one-container-description > div{
    padding-left:1rem ;
    /* text-align:justify; */
    color: rgb(220, 220, 220);
}
.type-one-container-link{
    padding-left: 2%;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}
.type-one-container-link > div{
    border-bottom: solid 0.2vw rgb(48, 49, 54);
    border-radius: 1.5%;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}
.type-one-container-link > div:hover{
    border-bottom: solid 0.2vw rgb(230, 230, 230);
    border-radius: 1.5%;
    cursor: pointer;
}